<div class="container">

  <div class="row">
    <div class="col-md-3">
      <button
        class="btn btn-primary"
        (click)="onDisplayContent()"
      >Display Details</button>
    </div>
    <div class="col-md-3" *ngIf="showContent">
      It's a great day!
    </div>
  </div>

  <!--Use logItem.length-->
  <!--[ngStyle]="{backgroundColor: logItem >= 5 ? 'blue': 'transparent'}"-->
  <!--[ngClass]="{whiteText: logItem >= 5}"-->

  <!--Use index-->
  <div class="row"
       *ngFor="let logItem of log; let i = index"
       [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
       [ngClass]="{whiteText: i >= 4}"
  >
    <div class="col-xs-3">
      {{ logItem }}
    </div>
  </div>
</div>
