<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        (click)="onDisplayContent()"
      >Display Details</button>
    </div>
    <div class="col-md-5">
      <div class="alert alert-info" appColorChange>Basic attribute directive used here.</div>
      <div class="alert alert-success" appBetterColorChange>I'm the better approach!</div>
      <div class="alert alert-info" appMyHoverDirective>Move mouse over me!</div>
      <div
        class="alert alert-danger"
        appMyHoverDirective2
        [defaultBackgroundColor]="'transparent'"
        [mouseOverBackgroundColor]="'lightblue'"
      >Bind to directive property with @Hostbinding</div>
    </div>
    <div class="col-md-3" [ngSwitch]="value">
      <p *ngSwitchCase="5">value is 5</p>
      <p *ngSwitchCase="10">value is 10</p>
      <p *ngSwitchCase="100">value is 100</p>
      <p *ngSwitchDefault>value is default</p>
    </div>
  </div>
  <div class="row">
    <!--<div class="col-md-3" *ngIf="showContent">-->
      <!--This is a great day!-->
    <!--</div>-->
    <div class="col-md-3" *appMyCustomStructualDirective="!showContent">
      This is a great day!
    </div>
  </div>

  <!--Use logItem.length-->
  <!--[ngStyle]="{backgroundColor: logItem >= 5 ? 'blue': 'transparent'}"-->
  <!--[ngClass]="{whiteText: logItem >= 5}"-->

  <!--Use index-->
  <div class="row"
       *ngFor="let logItem of log; let i = index"
       [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
       [ngClass]="{whiteText: i >= 4}"
  >
    <div class="col-xs-3">
      {{ logItem }}
    </div>
  </div>
</div>
